@page "/deletar"
@inject HttpClient delet
@using Newtonsoft.Json
@using Data

<h3 class="text-center">Deletar</h3>

<div class="col-3">
    Usuário:<input type="text" class="form-control" id="inputPassword2" placeholder="Nome">
</div>

<div class="col-3">
    Senha:<input type="password" class="form-control" id="inputPassword2" placeholder="Senha">
</div>

<div class="col-3" style="margin-top:10px;">
    <button type="submit" class="btn btn-primary mb-6">confirmar acesso</button>

</div>

@code {

}
<h1 class="text-center">Em processo de manutenção...</h1>