@page "/adicionarusuario"

<h3 class="text-center">Adicionar Novo Usuário</h3>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email:</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Senha:</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Senha">
</div>
<div class="col-3" style="margin-top: 10px;">
  <button type="submit"  class="btn btn-primary mb-6">Adicionar novo Usuário</button>
</div>

@code {

}

<h1 class="text-center">Em processo de manutenção...</h1>