@page "/alterar"
@inject HttpClient put
@using VoeAirlines_Blazor.Data
@using Newtonsoft.Json
@using Data

<h3 class="text-center">Alterar</h3>

<div class="col-3">
    Id:<input type="number" class="form-control" id="inputId" placeholder="Id" @bind="putId">
</div>
<hr>
<div class="col-3">
    Usuário:<input type="text" class="form-control" id="inputUser" placeholder="Nome" @bind="putUsuario">
</div>

<div class="col-3">
    Senha:<input type="password" class="form-control" id="inputPassword" placeholder="Senha" @bind="putSenha">
</div>
<br>
<div class="mb-3">
    <input type="date" class="form-control" id="inputDateTime" placeholder="Data de Alteração" @bind="putData">
</div>
<div class="col-3" style="margin-top:10px;">
    <button type="submit" class="btn btn-warning" @onclick="()=>AtualizarUsuario(putId, putUsuario, putSenha, 
    putData)">Atualizar</button>
</div>

@mensagem

@code {

    private string? mensagem;
    public int putId;
    public string? putUsuario;
    public string? putSenha;
    public DateTime putData;

    Login alterar = new Login();

    private async void AtualizarUsuario(int Id, string? Usuario, string? Senha, DateTime DataCriacao)
    {

        alterar.Id = putId;
        alterar.Usuario = putUsuario;
        alterar.Senha = putSenha;
        alterar.DataCriacao = putData;

        Id = alterar.Id;
        Usuario = alterar.Usuario;
        Senha = alterar.Senha;
        DataCriacao = alterar.DataCriacao;

        var users = new Login
        {
            Id = alterar.Id,
            Usuario = alterar.Usuario,
            Senha = alterar.Senha,
            DataCriacao = alterar.DataCriacao
        };
        var apiName = $"http://diogoestudante-001-site1.gtempurl.com/api/login/{Id}";
        var httpResponse = await put.PutAsJsonAsync<Login>(apiName, users);
        if (httpResponse.IsSuccessStatusCode)
        {
            var putData = JsonConvert.SerializeObject(users);
            var putResponse = await put.PutAsync(apiName, new StringContent(putData));
            mensagem = $"Dados de: (Id: {alterar.Id} | Usuário: {alterar.Usuario}) Atualizados com sucesso!";
        }
    }
}