@page "/"
@inject HttpClient client
@using Newtonsoft.Json
@using Data

<div class="container-fluid">
	<div class="row justify-content-center" style="margin-bottom:50px">
		<h3 class="text-center">Chamando uma REST-API</h3>
	</div>
	<div class="row" style="margin:25px;">
		<strong>Get Operation</strong> <hr />
		@if (Users != null)
		{
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Usúarios</th>
						<th>Data de criação</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in Users)
					{
						<tr>
							<td>Usúarios</td>
							<td>Data de criação</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
	<div class="row" style="margin:10px; margin-bottom:50px;">
		<div class="col"><button class="btn btn-info" @onclick="GetUser">Get Users</button></div>
	</div>
</div>

@code {
	List<Login>? Users;
	private async void GetUser()
	{
		var apiName = "http://www.edukacode.com.br/api/login/";
		var httpResponse = await client.GetAsync(apiName);
		if (httpResponse.IsSuccessStatusCode)
		{
			Users = new List<Login>();
			var apiConteudo = await httpResponse.Content.ReadAsStringAsync();
			Users = JsonConvert.DeserializeObject<List<Login>>(apiConteudo);
			StateHasChanged();
		}
	}
}