@page "/"

<PageTitle>SIA-Sistema Internacional de Aeronaves</PageTitle>

<h3 class="text-center" style="color:#1E90FF;">VoeAirlines</h3>

<img src="https://blog.bianch.com.br/wp-content/uploads/2019/05/original-762cc041ca23038049b33617ef98f11f.jpg"
    width="600px" height="600px" style="margin-left:280px;">
