@page "/listarusuarios"
@inject HttpClient client
@using VoeAirlines_Blazor.Data
@using Newtonsoft.Json
@using Data

<div class="container-fluid">
	<div class="row justify-content-center" style="margin-bottom:50px">
		<h3 class="text-center">Lista de Usuários</h3>
	</div>
	<div class="row" style="margin:25px;">
		<strong>Usuários cadastrados</strong>
		<hr />
		@if (Users != null)
		{
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Id</th>
						<th>Usuario</th>
						<th>Data Criação</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in Users)
					{
						<tr class="justify-content-center">
							<td>@user.Id</td>
							<td>@user.Usuario</td>
							<td>@user.DataCriacao</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
	<div class="row" style="margin:10px; margin-bottom:50px;">
		<div class="col"><button class="btn btn-info" @onclick="GetUser">Listar Usuários</button></div>
	</div>
	<hr>
	<div class="col-3">
		Id:<input type="number" class="form-control" id="inputPassword2" placeholder="Id do Usuário" @bind="idUsuario">
	</div>
	<div class="row" style="margin:10px; margin-bottom:50px;">
		<div class="col"><button class="btn btn-info" @onclick="()=>GetId(idUsuario)">Mostrar Usuário pelo Id</button>
		</div>
	</div>
</div>

@code {
	List<Login>? Users;
	private async void GetUser()
	{
		var apiName = "http://diogoestudante-001-site1.gtempurl.com/api/login";
		var httpResponse = await client.GetAsync(apiName);
		if (httpResponse.IsSuccessStatusCode)
		{
			Users = new List<Login>();
			var apiConteudo = await httpResponse.Content.ReadAsStringAsync();
			Users = JsonConvert.DeserializeObject<List<Login>>(apiConteudo);
			StateHasChanged();
		}
	}
	private int idUsuario;
	Login mostrar = new Login();

	private async void GetId(int id)
	{
		mostrar.Id = idUsuario;

		var apiName = $"http://diogoestudante-001-site1.gtempurl.com/api/login/{id}";
		var httpResponse = await client.GetAsync(apiName);
		if (httpResponse.IsSuccessStatusCode)
		{

			GetUser();

		}
	}
}
<p>
	O metodo puxar Usuário por "id" esta fucionando... Porém não puxa só um
	Usuário em especifico puxa a tabela toda. Como o tempo de entrega já se
	Esgotou vou entrega-lo assim. Desculpe (•ω•`)
</p>
