<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VoeAirlines</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-home" aria-hidden="true"></span> Tela Inicial
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-@Sing" aria-hidden="true" @onclick="Menu"></span> Funções
            </NavLink>
            @if (visualizar)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="adicionarusuario">
                        <span class="oi oi-expand-up" aria-hidden="true"></span> Adicionar
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="alterar">
                        <span class="oi oi-ellipses" aria-hidden="true"></span> Alterar
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="deletar">
                        <span class="oi oi-trash" aria-hidden="true"></span> Deletar
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="listarusuarios" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Listar_Usuários
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="listaraeronaves">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Listar_Aeronaves
                    </NavLink>
                </div>
            }

        </div>
       <!-- <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div> -->
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool visualizar = false;
    private string Sing = "plus";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void Menu()
    {
        visualizar = !visualizar;
        Sing = visualizar ? "minus" : "plus";
    }
}
